
.boxedArea {
    border-style: dashed;
    border-color: darkgray;
}

.planningTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.cellStyle {
    width: 6%;
    padding: 0 0 0 0 !important;
    text-align: center;
    margin: 0 0 0 0;
}

.dragStyle {
    background: #e2e3e9;
    align-content: center;
}

.teamMember {
    width: 55px;
    text-align: center;
}

.image {
    -moz-box-sizing: border-box;
    float: left;
    height: 50px;
    margin-bottom: 1px;
    padding: 1px;
    vertical-align: middle;
}

.image .img {
    display: block;
    vertical-align: middle;
    position: relative;
}

.delete {
    position: absolute;
    color: #000;
    display: inline-block;
    margin-top: 0;
    margin-left: 0;
    width: 12px;
    height: 12px;
    top: 2px;
    right: 2px;
}

.delete:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: currentColor;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.delete:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-container {
    position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
     position: absolute;
}

@media (max-width: 768px) {
    .modal {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

td .note {
    padding: 20px;
}

.note {
    position: relative;
}

.noteIcon {
    position: absolute;
    color: #625252;
    display: inline-block;
    margin-top: 0;
    margin-left: 0;
    width: 8px;
    height: 8px;
    top: 2px;
    right: 6px;
}

.failedCell {
    background-color: #FF7878;
}

.successCell {
    background-color: #4BD682;
}

.top {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    width: 40px;
    height: 8px;
    top: 2px;
    right: 30px;
}




